/* Generic style */
*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}


/* Header style */

header{
    height: 100px;
    background-color: white;
    line-height: 100px;
}

header> img{
    height: 80%;
    vertical-align: middle;
}

header> span{
    font-size: 45px;
    vertical-align: middle;
    font-weight: 800;
}

/* /Header style */

/* Body style */

body{
    background-color: #f6f8f9;
}

main{
    width: 1500px;
    background-color: white;
    padding-bottom: 50px;
    margin-top: 50px;
    border-radius: 10px;
}
/* Nav style */
nav{
    height: 100px;
    border-bottom: 5px solid #f6f8f9;
    padding: 30px 0 0 50px;

}

nav> div{
    display: inline-block;
    border: 1px solid #c5cbd0;
    border-radius: 5px;
    font-weight: 300;
    box-sizing: content-box;
    padding: 10px;
}

#new-task{
    color: white;
    background-color: #47adf1;
    border: 1px solid #47adf1;
}

#new-section{
    color: gray;
}
/* /Nav style */

/* Sections style */

section{
    padding: 50px 0 0 50px;
}

h2{
    font-weight: 800;
    font-size: 25px;
}

h2::before{
    content: '\0025BE';
    font-size: 25px;
}

.point{
    margin: 15px;
}

.point.done::before{
    content: "\002713";
    color: #6fc6b2;
    border: 1px solid #6fc6b2;
    font-weight: 800;
    padding: 3px 6px;
    border-radius: 50%;
    margin-right: 10px;
}

.point.undone::before{
    content: "\002715";
    color: #ea453b;
    border: 1px solid #ea453b;
    font-weight: 800;
    padding: 3px 6px;
    border-radius: 50%;
    margin-right: 10px;
}

/* body style */
